@page "/"
@inject IAccountService AccountService

<div class="p-4">
    <div class="container">
        @if (LoggedIn)
        {
            <h1>Hi @AccountService.User.Name!</h1>
            <p>You're logged in to Appointment Service!</p>
        }
        else
        {
            <h1>Hi Stranger!</h1>
            <p>You can log in or register to make your appointment.</p>
        }
    </div>
</div>


@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }
}