@page "/employees/bookvisit/{Id:int}"
@inject HttpClient Http
@inject DialogService DialogService
@using Radzen
@using Radzen.Blazor

<PageTitle>Employee</PageTitle>

<h1>Employee @Id</h1>

@code {
    [Parameter]
    public int Id { get; set; }
}
