@page "/employees/listall"
@inject HttpClient Http
@inject IEmployeeService EmployeeService
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<PageTitle>Employees list</PageTitle>

<h1>Employees list</h1>

@if (employees == null)
{
    <p>Fetching data from the server.</p>
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Specialization</th>
                @if (LoggedIn)
                {
                    <th></th>
                }           
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Surname</td>
                    <td>@employee.Specialization</td>
                    @if (LoggedIn)
                    {
                    <td>
                       <a href="employees/bookvisit/@employee.Id">Book</a>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }

    private IList<Employee>? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetAll();
    }
}
